img{
    width:100%;
}

.class1{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:40px;	
}

.class2{
	color:#a30750;
	font-weight:bold;
	font-size:30px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.class4{
	text-align:right;
	list-style-type: none;
	text-align:left;
    font-family:Georgia, serif;
    font-size:16px;
	
}

.class5{
	font-size:20px;
	font-weight:bold;
	font-family: "Comic Sans MS", cursive, sans-serif;

}
.class6{
	font-size:35px;
	font-weight:bold;
}

.class7{
	color:white;
}
.class8{
	background-image:url('https://wallpapercave.com/wp/wp3588855.jpg');
}
#id1{
	font-size:25px;
	font-family:"Comic Sans MS", cursive, sans-serif;
	color:#333;
	font-weight: bold;
	font-style:italic;
}

#id2{
	font-family:Georgia, serif;
	text-align:center;
	color:#ccad00;
	font-size:40px;
}
#id3{
	font-size:15px;
	color:#a30750;
	font-weight: bold;
	font-family:"Comic Sans MS", cursive, sans-serif;

}
hr{
	border:2px solid #ccad00;
}
.hoverlink:hover{
	color:#ccad00;
}
.hoverlink{
	color:blue;
	text-decoration: none;
	font-weight:bold;
	font-family:"Comic Sans MS", cursive, sans-serif;
}

.backcolor{
	background-color:;
}

.centerimage{
	text-align: center;
}


.centerimage2{
    width:400px;
    float:right;  
}



.information{
	color:#a30750;
	font-size:20px;
	font-weight: bold;
}



