.Contact{
	font-family: "Lucida sans Unicode" , "Lucida Grande" , sans-serif;
	color: #ccad00;
	text-align: center;
}
.mail{
	font-size: 15px;
	font-family: "Comic sans",cursive,sans-serif;	
}
#ctype{
	font-family: "Comic sans",cursive,sans-serif;
	color: #a30750;
}
#ctop{
	font-family: "Lucida sans Unicode" , "Lucida Grande" , sans-serif;
	position: absolute;
	top: 385px;
	left: 200px;
	font-size: 30px;
	color: white;
	text-decoration: underline;
}
#ctop1{
	position: absolute;
	top: 425px;
	left: 140px;
	font-family: "Comic sans",cursive,sans-serif;
	font-size:40px;
	color: white;
}
.home1{
	position: absolute;
	font-family: "Lucisa sans Unicode","Lucida Grande",sans-serif;
	top: 60px;
	left: 1300px;
	font-size: 25px;
}
.form1{
	text-align: center;
	font-family: "Comic sans",cursive,sans-serif;
	color: #ccad00; 
}
.form2{
	font-family: "Comic sans",cursive,sans-serif;
	font-size: 15px;
}
.form3{
	position: absolute;
	top: 1350px;
	left: 900px;
	font-size: 30px;
	font-family: "Comic sans",cursive,sans-serif;
	color: white;
}
#cimg{
	width:850px;
    height:570px;
    margin-left: 650px;
    margin-top:  -600px;
}
.cbttn{
	font-size: 20px;
	font-family: "Comic sans" , cursive,sans-serif;
	width: 300px;
	margin-left: 200px;
	background-color: #96d6a7;
}
.cbttn:hover{
	background-color: #ccad00;
}