.contact{
	font-family: "Lucida sans Unicode" , "Lucida Grande" , sans-serif;
	color: #ccad00;
	text-align: center;
}
#instruct{
	font-family: "Lucida sans Unicode" , "Lucida Grande" , sans-serif;
	font-size: 15px;
	text-align: center;
}