.Contact{
	font-family: "Lucida sans Unicode" , "Lucida Grande" , sans-serif;
	color: #ccad00;
	text-align: center;
}
.mail{
	font-size: 15px;
	font-family: "Comic sans",cursive,sans-serif;	
}
#ctype{
	font-family: "Comic sans",cursive,sans-serif;
	color: #a30750;
}