.image1{

	width: 100%;
	height:600px;
  opacity: 4
  
}
.open{

	position: absolute;
	top:280px;
	left:100px;
	width:300px;

}
#heading1{

color:#ffffff;
font-size: 60px;
font-family:Arial;
width:300px;


}
#description1{

color:#ffffff;
font-size: 20px;
font-family:Arial;

}
.div2{

	width: 900px;
	
	text-align: center;
	margin-left: 250px;
  margin-top: 70px;
}
#heading2{

	font-size: 40px;
  font-family:Arial;
  color:#07247d;
  font-weight: bold;
}



#description2{

	font-size: 20px;
   font-family:Calibri;
}
#heading3{

  font-size: 32px;
  font-family:Arial;
  color:#07247d;

}
#description3{

font-size: 20px;
font-family:Calibri;
text-align: center;
width:800px;
padding-left: 250px;


}
.div3{
  
    height: 600px;
	
	width:100%;
	margin-top: 100px;
	text-align: center;
}
#image2{

  padding-top: 100px;
   width:20%;
   height:200px;
   padding-left: 30px;

}
#image3{
   
    padding-top: 100px;
   width:20%;
   height:200px;
   padding-left: 30px;
}
#image4{

    padding-top: 100px;
   width:20%;
   height:200px;
   padding-left: 30px;
}
#image5{

    padding-top: 100px;
   width:20%;
   height:200px;
   padding-left: 30px;
}
#subheading1{
   
   width:20%;
   position: absolute;
   left:90px;   
   text-align: center;
   font-size: 20px;
   font-family:Calibri Light;
   color:#07247d;
   font-weight:bold; 
   
}
#subheading2{
   width:20%;
   position: absolute;
   left:400px;   
   text-align: center;
   font-size: 20px;
   font-family:Calibri Light;
   color:#07247d;
   font-weight:bold; 
  

   

}
#subheading3{
  
   width:20%;
   position: absolute;
   left:1000px;   
   text-align: center;
   font-size: 20px;
   font-family:Calibri Light;
   color:#07247d;
   font-weight:bold; 

}

#subheading4{
   
   
   width:20%;
   position: absolute;
   left:700px;   
   text-align: center;
   font-size: 20px;
   font-family:Calibri Light;
   color:#07247d;
   font-weight:bold; 
}
#venue1{

   width:17%;
   position: absolute;
   padding-top: 35px;
   left:120px;   
   text-align:center;
   font-family:Calibri ;
   

}




#venue2{

   width:17%;
   position: absolute;
   padding-top: 35px;
   left:425px;   
   text-align:center;
   font-family:Calibri ;
   
}
#venue3{

   width:17%;
   position: absolute;
   padding-top: 35px;
   left:1030px;   
   text-align: center;
   font-family:Calibri ;
   


}
#venue4{

    width:17%;
   position: absolute;
   padding-top: 35px;
   left:725px;   
   text-align: center;
   font-family:Calibri ;
   

}
.image6{

    margin-top: 240px;
    width:100%;
    height:1200px;

}
.make-date{

	
	width:800px;
	height:1000px;
	position: absolute;
	top:1960px;
	left:150px;
	background-color:#f7f6f2;
}
#image7{

  width:90%;
  padding-top: 45px;

}
#subheading5{

  position: relative;
  top: 30px;
  text-align: center;
  font-size: 38px;
}
#subheading6{


  padding-top: 5px;
  text-align: center;
  font-size: 25px;
}
#description7{

   padding-top: 5px;
   padding-left: 20px;
  text-align: center;
  font-size: 20px;
  width:700px;

}
hr .line1{

	background:#4a3c03;
  height: 2px;

}
.wowfactor{

	width:800px;
	height: 500px;
	
	position: absolute;
	margin-top:1500px; 
	float: left;
	background-color: #86868a;

}
#image8{

    position: absolute;
    margin-top:1400px;
	border-radius: 600px;
	height: 700px;
	right:50px;
	width:700px;

}
#subheading7{


 padding-top: 70px;
  padding-left: 60px;
  font-size: 37px;
  color: #ffffff;


}
#description8{

    padding-top: 20px;
    padding-left: 60px;
	font-size: 25px;
	color: #ffffff;
	width: 400px;
	text-align: left;
}
.profesional{

	width:97%;
	height: 800px;
	position: absolute;
	top:3850px;

}
#subheading8{

	font-size: 35px;
	text-align:center;
  padding-top:200px;
  font-family:Arial;
  color:#07247d;
	


}
#subheading9{
	text-align: center;
	padding-left: 250px;
	width: 700px;
	font-size: 20px;
  font-family:Arial;
  
	
}
#image9{

	height: 300px;
	width:295px;
	padding-left: 20px;
	padding-top: 12px;
}
#image10{

	
	padding-left: 30px;
    height: 300px;
  width:295px;
}
#image11{

	height: 300px;
	width:295px;
	padding-left: 25px;
}
#image12{

	height: 300px;
	width:295px;
	padding-left:35px;
	
}
#subheading10{

  position: absolute;
  left: 22px;
  width: 17%;
  font-size: 20px;
   font-family:Calibri Light;
   color:#07247d;
   font-weight:bold; 
  
}
#subheading11{
  position: absolute;
  left: 355px;
  width: 17%;
   font-family:Calibri Light;
   color:#07247d;
   font-weight:bold; 

}
#subheading12{

  position: absolute;
  left: 676px;
  width: 17%;
   font-family:Calibri Light;
   color:#07247d;
   font-weight:bold; 
}
#subheading13{
 
  position: absolute;
  left: 1010px;
  width: 17%;
   font-family:Calibri Light;
   color:#07247d;
   font-weight:bold; 

}
#description10{

  position: absolute;
  left: 25px;
  width: 17%;
  padding-top: 40px;
  text-align: left;
  

}
#description11{
  
   position: absolute;
  left: 360px;
  width: 17%;
   padding-top: 40px;
  text-align: left;
  font-size: 18px;
   font-family:Calibri;

	
}
#description12{

 position: absolute;
  left: 680px;
  width: 17%;
   padding-top: 40px;
  text-align: left;
  font-size: 18px;
   font-family:Calibri;
	
}
#description13{
 position: absolute;
  left: 1015px;
  width: 17%;
   padding-top: 40px;
  text-align: left;
  font-size: 18px;
   font-family:Calibri;

	
}
#viewmore1{

   color:white;
	font-size: 30px;
	padding-left: 100px;
	
	position: relative;
}