.image1{

	width: 100%;
	height:600px;
  opacity: 4
  
}
.open{

	position: absolute;
	top:300px;
	left:100px;
	width:300px;

}
#heading1{

color:#ffffff;
font-size: 50px;

}
#description1{

color:#ffffff;
font-size: 20px;

}
.div2{

	width: 900px;
	
	text-align: center;
	margin-left: 250px;
}
#heading2{

	font-size: 40px;
}
#description2{

	font-size: 20px;
}
#heading3{

  font-size: 32px;

}
#description3{

font-size: 20px;
text-align: center;
width:800px;
padding-left: 250px;


}
.div3{
  
    height: 600px;
	
	width:100%;
	margin-top: 100px;
	text-align: center;
}
#image2{

  padding-top: 100px;
   width:20%;
   height:200px;
   padding-left: 30px;

}
#image3{
   
    padding-top: 100px;
   width:20%;
   height:200px;
   padding-left: 30px;
}
#image4{

    padding-top: 100px;
   width:20%;
   height:200px;
   padding-left: 30px;
}
#image5{

    padding-top: 100px;
   width:20%;
   height:200px;
   padding-left: 30px;
}
#subheading1{
   
   width:20%;
   position: absolute;
   left:90px;   
   text-align: center;
   font-size: 20px;
   
}
#subheading2{
   width:20%;
   position: absolute;
   left:400px;   
   text-align: center;
   font-size: 20px;
  

   

}
#subheading3{
  
   width:20%;
   position: absolute;
   left:1000px;   
   text-align: center;
   font-size: 20px;

}

#subheading4{
   
   
   width:20%;
   position: absolute;
   left:700px;   
   text-align: center;
   font-size: 20px;
}
#venue1{

   width:17%;
   position: absolute;
   padding-top: 35px;
   left:120px;   
   text-align:center;

}




#venue2{

   width:17%;
   position: absolute;
   padding-top: 35px;
   left:425px;   
   text-align:center;

}
#venue3{

   width:17%;
   position: absolute;
   padding-top: 35px;
   left:1030px;   
   text-align: center;


}
#venue4{

    width:17%;
   position: absolute;
   padding-top: 35px;
   left:725px;   
   text-align: center;

}
.image6{

    margin-top: 240px;
    width:100%;
    height:1100px;

}
.make-date{

	
	width:800px;
	height:900px;
	position: absolute;
	top:1900px;
	left:150px;
	background-color: #ffffff;
}
#image7{

  width:90%;
  padding-top: 70px;

}
#subheading5{

  padding-top: 20px;
  text-align: center;
  font-size: 35px;
}
#subheading6{


  padding-top: 5px;
  text-align: center;
  font-size: 25px;
}
#description7{

   padding-top: 5px;
   padding-left: 20px;
  text-align: center;
  font-size: 20px;
  width:700px;

}
#hr{
	color: gold;

}
.wowfactor{

	width:800px;
	height: 500px;
	
	position: absolute;
	margin-top:1400px; 
	float: left;
	background-color: #86868a;

}
#image8{

    position: absolute;
    margin-top:1300px;
	border-radius: 600px;
	height: 700px;
	right:50px;
	width:700px;
}
#subheading7{


 padding-top: 100px;
  padding-left: 60px;
  font-size: 37px;
  color: #ffffff;


}
#description8{

    padding-top: 40px;
    padding-left: 60px;
	font-size: 25px;
	color: #ffffff;
	width: 500px;
	text-align: left;
}
.profesional{

	width:97%;
	height: 800px;
	position: absolute;
	top:3850px;

}
#subheading8{

	font-size: 35px;
	text-align:center;
	


}
#subheading9{
	text-align: center;
	padding-left: 250px;
	width: 700px;
	font-size: 20px;
	
}
#image9{

	height: 380px;
	width:295px;
	padding-left: 20px;
	padding-top: 12px;
}
#image10{

	height:380px;
	width:295px;
	padding-left: 30px;
}
#image11{

	height: 380px;
	width:295px;
	padding-left: 25px;
}
#image12{

	height: 380px;
	width:295px;
	padding-left:35px;
	
}
#subheading10{

  position: absolute;
  left: 22px;
  width: 17%;
}
#subheading11{
  position: absolute;
  left: 355px;
  width: 17%;

}
#subheading12{

  position: absolute;
  left: 676px;
  width: 17%;
}
#subheading13{
 
  position: absolute;
  left: 1010px;
  width: 17%;

}
#description10{

  position: absolute;
  left: 25px;
  width: 17%;
  padding-top: 40px;
  text-align: left;
  font-size: 18px;


}
#description11{
  
   position: absolute;
  left: 360px;
  width: 17%;
   padding-top: 40px;
  text-align: left;
  font-size: 18px;

	
}
#description12{

 position: absolute;
  left: 680px;
  width: 17%;
   padding-top: 40px;
  text-align: left;
  font-size: 18px;
	
}
#description13{
 position: absolute;
  left: 1015px;
  width: 17%;
   padding-top: 40px;
  text-align: left;
  font-size: 18px;

	
}
#viewmore1{

   color:white;
	font-size: 30px;
	padding-left: 100px;
	
	position: relative;
}