#image1{

	width:100%;
	opacity:4
}
.front{

 position: absolute;
 top:170px;
 width:100px;
 left:100px;


}
#heading1{


width:400px;
color:#ffffff;
font-size: 50px;
font-weight: bold;
font-family:arial;


}
.description1{
	width: 300px;
	color:#ffffff;
	font-size: 30px;
	font-family:arial;
	


}
.venue{

	width:100%;
	margin-top: 100px; 
}
#subheading1{

	padding-left: 40px;
	font-size: 40px;
	font-family:arial;
	font-weight: bold;
	color: #2e3bb0;
	text-align: center;

}
hr.line-one{

	border: none;
	height: 2px;
	width:700px;
	background:blue;
}

#description2{

width:800px;
padding-left: 165px;
font-size: 17px;
text-align: center;
font-family:arial;
}
.ballroom{

 margin-top: 100px;
  width:800px;
  height:500px;
  margin-left: 50px;
  
  background-color: #dbd9de;

}
.differentvenues{

	margin-top: 200px;
	
}
#subheading2{

padding-left: 380px;
font-size: 40px;
font-family:arial;
color: #2e3bb0;

}
hr.line-one{

	border: none;
	height: 2px;
	width:700px;
	background:#263563;
}
#description3{

padding-left: 380px;
font-size: 20px;
width:650px;
text-align: center;
font-family:arial;
}

#subheading3{

padding-top: 100px;
width:250px;
padding-left: 100px;
font-size:40px;
font-family:arial;

}
#description4{


padding-left: 80px;
padding-top: 5px;
width:300px;
font-size: 18px;
font-family:arial;

}
#image2{

	position: absolute;
	top:1050px;
	left:500px;
	width:800px;
	height:500px;
	opacity: 4
	
}
.variousballrooms{

	width: 1200px;
	position: absolute;
	margin-top: 50px;
	left: 75px;
	height:500px;
	
}

#image3{

padding-top: 20px;
padding-left:40px;
width:22%;
height: 200px;
opacity: 3

}
#image4{

padding-top: 20px;
width:22%;
height: 200px;
padding-left: 20px;
opacity: 3

}
#image5{

padding-top: 20px;
width:22%;
height: 200px;
padding-left: 20px;
opacity: 3

}
#image6{

padding-top: 20px;	
width:22%;
height: 200px;
padding-left: 20px;
opacity: 3

}
#subheading4{

position: absolute;
left: 40px;
font-family:arial;
color: #2e3bb0;
font-size:22px;



}
#subheading5{

position: absolute;
left: 340px;
font-family:arial;
color: #2e3bb0;
font-size:22px;


	
}
#subheading6{

position: absolute;
left: 630px;
font-family:arial;
color: #2e3bb0;
font-size:22px;

	
}
#subheading7{

position: absolute;
left: 920px;
font-family:arial;
color: #2e3bb0;
font-size:22px;


	
}
#description5{

    position: absolute;
	width:17%;
	top:270px;
	left: 40px;
    font-family:arial;
    font-size:14px;
}
#description6{

	width:17%;
	position: absolute;
	top:270px;
    left: 340px;
     font-family:arial;
    font-size:14px;
	
}
#description7{
	
	width:17%;
	position: absolute;
	top:270px;
    left: 630px;
	 font-family:arial;
    font-size:14px;
}
#description8{

	width:17%;
	position: absolute;
	top:270px;
    left: 920px;
     font-family:arial;
    font-size:14px;
	
}
.outdoorvenues{

    position:absolute; 
	width:97%;
	height: 500px;
	border:3px solid red;
	margin-top: 600px;
}
#image7{

	position: absolute;
	top:2500px;
	width:75%;
	height:600px;
	left:100px;
	opacity: 3
}
#image8{

	position: absolute;
	top:2450px;
	width:200px;
	height:200px;
	left:940px;
	border-radius: 150px;
	border:13px solid white;
	opacity: 3
}
.outdoor{


	position:absolute;
	top:3200px;
	width:1300px;
	height:900px;
	left:30px;
}
#subheading8{

  padding-left:280px;
font-family:Arial;
font-size: 40px;
color: #2e3bb0;

}
#description9{
 font-size: 20px;
  padding-left:400px;
  width: 500px;
  text-align: center;
font-family:arial;
  text-align: center;
  padding-top: 2px;

}


#image9{

width:350px;
height: 320px;
padding-left: 75px;
padding-top: 50px;

}
#image10{

 width:350px;
height: 320px;
padding-left: 25px;
padding-top: 50px;
	
}
#image11{
width:350px;
height: 320px;
padding-left: 25px;
padding-top: 50px;

	
}
#subheading9{

position: absolute;
	width:17%;
	top:570px;
	left: 90px;
	font-family:arial;
color: #2e3bb0;
font-size:21px;


}
#subheading10{

position: absolute;
	width:17%;
	top:570px;
	left:470px;
	font-family:arial;
color: #2e3bb0;
font-size:21px;

}
#subheading11{
position: absolute;
	width:19%;
	top:570px;
	left: 850px;
	font-family:arial;
color: #2e3bb0;
font-size:21px;

}


#description10{

position: absolute;
	width:17%;
	top:620px;
	left: 100px;
	font-family:arial;

}
#description11{

position: absolute;
	width:18%;
	top:620px;
	left: 490px;
	font-family:arial;


}
#description12{
position: absolute;
	width:17%;
	top:620px;
	left: 870px;
	font-family:arial;

}
#list1{

position: absolute;
	width:17%;
	top:730px;
	left: 80px;
	font-family:arial;
}
#list2{
position: absolute;
	width:17%;
	top:720px;
	left: 480px;
	font-family:arial;

	
}
#list3{
position: absolute;
	width:17%;
	top:710px;
	left: 860px;
	font-family:arial;
}	
	


	

