@import"https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
	margin : 0;
	padding : 0;
	color : white;
	background-repeat : no-repeat;
	background-size : cover;
	font-family : sans-serif;
}

.main{
	position : absolute;
	top : 23%;
	left : 37%;
}

.main h1{
	border-bottom : 5px solid #240732;
	padding : 2px 0;
	width : 400px;
}

.textbox{
	margin : 20px 0;
	padding : 10px 0;
	overflow : hidden;
	border-bottom : 2px solid #240732;
}

.textbox i{
	width : 30px;
}

.textbox input{
	height : 20px;
	width : 90%;
  border : none;
	outline : none;
	background : none;
	font-size : 18px;
	color : white;
	font-weight : bold;
}

.btn{
	width : 100%;
	height : 35px;
	border : 2px solid #240732;
	background : none;
  font-size : 25px;
	color : white;
	cursor : pointer;
	margin : 10px 0;
}

::placeholder{
	color : white;
}

.btn2{
	border : 2px solid #240732;
	height : 25px;
	background : none;

	cursor : pointer;
}

a{
	color : white;
	text-decoration : none;
	font-size : 15px;
}
