#image1{

	width:100%;
	opacity:4
}
.front{

 position: absolute;
 top:250px;
 width:100px;
 left:100px;
 top:220px;

}
#heading1{


width:400px;
color:#ffffff;
font-size: 50px;
font-weight: bold;

}
.description1{
	width: 300px;
	color:#ffffff;
	font-size: 30px;


}
.venue{

	width:100%;
	margin-top: 100px; 
}
#subheading1{

	padding-left: 40px;
	font-size: 40px;
	text-align: center;

}
#description2{

width:800px;
padding-left: 300px;
font-size: 20px;
text-align: center;
}
.ballroom{

 margin-top: 100px;
  width:800px;
  height:500px;
  margin-left: 50px;
  
  background-color: #dbd9de;

}
.differentvenues{

	margin-top: 200px;
	
}
#subheading2{

padding-left: 450px;
font-size: 30px;

}
#description3{

padding-left: 350px;
font-size: 20px;
width:650px;
text-align: center;
}

#subheading3{

padding-top: 100px;
width:250px;
padding-left: 100px;
font-size:40px;

}
#description4{


padding-left: 80px;
padding-top: 5px;
width:300px;
font-size: 20px;

}
#image2{

	position: absolute;
	top:1150px;
	left:500px;
	width:800px;
	height:500px;
	opacity: 4
	
}
.variousballrooms{

	width: 1200px;
	position: absolute;
	margin-top: 50px;
	left: 75px;
	height:500px;
	
}
#image3{

padding-top: 20px;
padding-left:40px;
width:22%;
height: 200px;
opacity: 3

}
#image4{

padding-top: 20px;
width:22%;
height: 200px;
padding-left: 20px;
opacity: 3

}
#image5{

padding-top: 20px;
width:22%;
height: 200px;
padding-left: 20px;
opacity: 3

}
#image6{

padding-top: 20px;	
width:22%;
height: 200px;
padding-left: 20px;
opacity: 3

}
#subheading4{

position: absolute;
left: 40px;



}
#subheading5{

position: absolute;
left: 340px;

	
}
#subheading6{

position: absolute;
left: 630px;
	
}
#subheading7{

position: absolute;
left: 920px;

	
}
#description5{

    position: absolute;
	width:17%;
	top:270px;
	left: 40px;


}
#description6{

	width:17%;
	position: absolute;
	top:270px;
    left: 340px;
	
}
#description7{
	
	width:17%;
	position: absolute;
	top:270px;
    left: 630px;
	
}
#description8{

	width:17%;
	position: absolute;
	top:270px;
    left: 920px;
	
}
.outdoorvenues{

    position:absolute; 
	width:97%;
	height: 500px;
	border:3px solid red;
	margin-top: 600px;
}
#image7{

	position: absolute;
	top:2500px;
	width:75%;
	height:600px;
	left:100px;
	opacity: 3
}
#image8{

	position: absolute;
	top:2450px;
	width:200px;
	height:200px;
	left:940px;
	border-radius: 150px;
	border:10px solid white;
	opacity: 3
}