.image1{

	width:100%;
	opacity:4
}
.front{

 position: absolute;
 top:250px;
 width:100px;
 left:100px;
 top:220px;

}
#heading1{


width:400px;
color:#ffffff;
font-size: 50px;
font-weight: bold;

}
.description1{
	width: 300px;
	color:#ffffff;
	font-size: 30px;


}
.venue{

	width:100%;
	margin-top: 100px; 
}
#subheading1{

	padding-left: 40px;
	font-size: 40px;
	text-align: center;

}
#description2{

width:800px;
padding-left: 300px;
font-size: 20px;
text-align: center;
}
.ballroom{

 margin-top: 100px;
  width:800px;
  height:500px;
  margin-left: 50px;
  
  background-color: #dbd9de;

}
#subheading2{

padding-top: 100px;
width:250px;
padding-left: 100px;
font-size:40px;

}
#description3{


padding-left: 80px;
padding-top: 5px;
width:300px;
font-size: 20px;

}
.image2{

	position: absolute;
	top:1150px;
	left:500px;
	width:800px;
	height:500px;
	
}