.main{
  text-align: center;
  color: #ccad00;
  font-size: 50px;
  font-weight : bold;
}


.para{
  text-align: center;
	font-size:20px;  
}



.description{
  font-size: 40px;
  text-align: center;
  color: #ccad00;
  font-weight : bold;
}


.ul{
  float : right;
  list-style-type : none;
  font-size : 16px;
  font-weight : bold;
  color : #a30750;
  font-family : "Comic Sans MS", cursive, sans-serif;
}
