.main{
	font-size:50px;
	font-family:"Georgia, serif";
	color:#ccad00;
	text-align: center;
}


.class1{
	font-size:35px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:black;
	
}

.centerimage{
	text-align: right;
}


.lefttext{
	float:left;
	font-size: 18px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

hr{
	border:2px solid #ccad00;
}


.sub{
	text-align: center;
	font-size: 25px;
	color:#ccad00;
}

.para{
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-weight:bold;
	font-size: 17px;
	text-align: center;
	color:#a30750;
}