.main{
	font-size:40px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#ccad00;
	text-align: center;
}


.class1{
	font-size:35px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:black;
	
}