.navbar {


  overflow: hidden;
  background-color: #333;
}

.navbar a {

  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family:arial;
}

.dropdown {
  float: left;
  overflow: hidden;
  
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  

}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: white;
  color:black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family:calibri;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display:block;
  width: 12.5%;
}


.navbar1 a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family:arial;
  font-weight: bold;
}

.navbar1 a:hover {
  background-color: #ccad00;
  color:white;
}


.image1{

   position: fixed;
	width:98.8%;
	height:550px;
	opacity:3;
}
.header{

   position: absolute;
	
	width: 500px;
	height: 250px;
	top:300px;
	left:60px;


}
#heading1{

  position:fixed;
  width:200px;
  color: #ffffff;
  font-size: 40px;

}
#description1{

  position:fixed;
  top:420px;
  width:300px;
  color: #ffffff;
  text-align: left;
  font-size: 20px;

}

.underwater{

   position: absolute;
   margin-top:  750px;
  
   width: 650px;
   height: 500px;
   background-color:#d0d0d6;


}
#image2{

	position: absolute;
	margin-top: 780px;
	left:500px;
	height: 700px;
	width:800px;

}





