body{

	background-color:#f7f8fa;
}
#image1{

	width:100%;
	height: 600px;
	opacity: 4;
}
#heading1{

	position: absolute;
	top:370px;
	left: 440px;
    font-size: 50px;
    color: #ffffff;
    font-family: Avantgarde BK;
}
.divtobody{

	border:3px solid red;



}
#subheading1{
    
    
    padding-top:80px;
	float: left;
	font-size: 50px;
	padding-left: 40px;
	width:30%;
}
#description1{
    
   
    padding-top: 40px;
	float:right;
	width:50%; 
	font-size: 20px;
}
#subheading2{

    
	background-color:#b3a132;
	color:#ffffff;
    width:350px;
    padding-left: 2px;
    padding-right: 3px;

}
#subheading3{

	margin-top:350px;
	background-color:#b3a132;
	
	text-align: center;
	height: 60px; 
	padding-top: 10px;
	padding-bottom: 5px;
	color:#ffffff;
}
#subheading4{

	background-color:#b3a132;
	text-align: center; 
    font-size: 60px;
    height: 80px;
    color:#ffffff;


}
#image2{

	float: left;
	width: 50%;
	height: 400px;
	
}

#image3{

	width:50%;
	float:right;
	height: 400px;

}
#image4{
	float: left;
	width: 50%;
	height: 400px;
}
#image5{

	width:50%;
	float:right;
	height: 400px;
}
#subheading5{

  	text-align: center;
	color:#4a3e0a;
	font-size:60px;
	font-style: italic;
	position: absolute;
	margin-top:800px;




}
.description2{

     text-align: center;
	color:#0a0a0a;
	font-size:20px;
	margin-top: 100px;


}
.background{

	width: 100%;
	padding-top: 40px;
	height: 800px;
}
.wedding-hall{

    
	padding-top: 100px;
	padding-left: 80px;



}
.ballroombackground{

	width: 100%;
	opacity: 0.5;
	padding-top: 200px;
	height: 400px;
    
	
	}
.ballroom-image{


float:left;
padding-top: 100px;
height: 400px;
 width:45%;
  

}

.ballroom-description{

  float: right;
	padding-top: 100px;
	width:600px;
	font-size: 20px;

}
h6{

	font-size: 40px;
}
  
.div5{

	
	
	width:100%;
	height: 650px;
	margin-top: 500px;


	

}
.dream-offer{

	
	font-style: italic;
	font-size:40px;

}
.offer2{
  
  padding-left: 180PX;
  height: 450px;
  width:300px;

}
.offer3{

height: 450px;
  width:300px;
  margin-left: 20px

}
.offer1{
height: 450px;
  width:300px;
  margin-left: 20px;

}
h2{

	font-size: 30px;
	padding-top:1px;
	text-align: center;

}
#package{

    margin-top: 50px;
    padding-top: 50px;
	font-size: 10px;
	padding-right: 0px;
	text-align: center;
}
.last{

	
    width:100%;
    height:400px;
    margin-top: 100px;
    background-color: #3f4de8;

}
