h1{

	text-align:center;
	font-size: 45px;


}
p{

	width: 900px;
	text-align:center;
	padding-left: 200px; 
	padding-top:40px;
	font-size: 20px;
}
.weddingform{


border: 3px solid red;
width:900px;
margin-left: 200px;

}
.heading{

	font-size:40px;
}



#comments{


width: 400px;

}

td{

	padding-top: 30px;
	
	font-size: 20px;
	width:300px;
}
.ainfo{

	width:500px;
	height:100px;
}
.text{

	width:350px;
	height:30px;
}