.navbar {


  overflow: hidden;
  background-color: #333;
}

.navbar a {

  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family:arial;
}

.dropdown {
  float: left;
  overflow: hidden;
  
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  

}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: white;
  color:black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family:calibri;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display:block;
  width: 12.5%;
}


.navbar1 a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family:arial;
  font-weight: bold;
}

.navbar1 a:hover {
  background-color: #ccad00;
  color:white;
}


.image1{

   position: fixed;
	width:98.8%;
	height:550px;
	opacity:3;
}
.header{

   position: absolute;
	
	width: 500px;
	height: 250px;
	top:300px;
	left:60px;


}
#heading1{

  position:fixed;
  width:200px;
  color: #ffffff;
  font-size: 40px;

}
#description1{

  position:fixed;
  top:420px;
  width:300px;
  color: #ffffff;
  text-align: left;
  font-size: 20px;

}


.underwater{

position: absolute;
   margin-top:  550px;
   width:98.8%;
   height: 1400px;
   background-color: #edede6;
   


}
#image2{

padding-top: 50px;
padding-left: 180px;
width:600px;
height: 400px;

}
#heading2{

  width:700px;
  padding-left:150px;
  text-align: center;

}
#description2{


	width: 300px;
	float:right;
	padding-right: 200px;
	padding-top: 70px;

}
#description3{

padding-top: 100px;
text-align: left;
width:590px;

}
.list1{
 padding-left: 350px;
 padding-top: 30px;




}
.list2{

padding-left: 350px;
 padding-top: 10px;


}
#package{
padding-left: 350px;
 padding-top: 30px;


}
#description4{

padding-left: 350px;
 padding-top: 10px;

}
.divtobody{

position: absolute;
margin-top: 1800px;
width:98.8%;
height:3080px;
 background-color: #ffffff;
 border:3px solid red;



}
#heading3{

position: absolute;
left:200px;
font-size: 60px;

}
#image3{

  position: absolute;
  top:50px;
  width:400px;
  height: 300px;
  

}
#image4{

  position: absolute;
  top:50px;
  width:400px;
  height: 300px;
  left:430px;


}
#image5{

  position: absolute;
  top:50px;
  width:400px;
  height: 300px;
 left:860px;

}
#subheading1{

  position: absolute;
  top:450px;
  left:10px; 
  width:200px;


}
#subheading2{


  position: absolute; 
  top:450px; 
  width:350px;
  top:450px;
  left:430px;

}
#subheading3{

  position: absolute;
  top:450px;
  width:200px;
  left:900px;
  

}
#description5{

 position: absolute;
  top:500px;
  left:50px; 
  width:250px;
  font-size: 16px;


}
#description6{

 position: absolute; 
  top:450px; 
  width:250px;
  top:500px;
  left:480px;
  font-size: 16px;


}
#description7{

 position: absolute; 
  top:450px; 
  width:300px;
  top:500px;
  left:910px;
  text-align: left;
  font-size: 16px;

}
.outdoorwedding{

position: absolute;
margin-top: 600px;
width: 700px;
height: 500px;
margin-top: 700px;
background-color:#b09c92;


}
#subheading4{
 
    position: absolute;
	top: 10px;
	left: 60px;
	width: 300px;
	font-size: 30px;
	text-align:left;
	color:#ffffff;



}
#description8{

  color: blue;
  padding-top: 150px;
  width: 350px;
  text-align:center;
  color:#ffffff; 
  font-size:20px; 
}
#image6{

position:absolute; 
padding-top: 770px;
padding-left: 150px;
width: 700px;
height: 500px;
padding-left: 450px;


}
#subheading9{

position: absolute;
margin-top: 1400px;
font-size: 40px;
right:700px;


}
#subheading10{
position: absolute;
margin-top: 2000px;
font-size: 20px;
width:250px; 
left:490px;


}
#description9{

position: absolute;
margin-top: 2050px;
width:250px;
left:505px;
font-size:15px;


}
#image7{

	position: absolute;
margin-top: 1500px;
width:400px;
height:400px;
left: 470px;

}
#image8{

border-radius:0.1px;
position: absolute;
margin-top: 1570px;
width:400px;
height:400px;
right: 20px;

}
#subheading11{

position: absolute;
margin-top: 2000px;
font-size: 20px;
width:300px;
left:940px;


}
#description10{

position: absolute;
margin-top: 2010px;
width:300px;
left:900px;
font-size: 15px;
}
#image9{

position: absolute;
margin-top: 1558px;
width:400px;
height:400px;
left: 10px;

}
#subheading12{
padding-top: 1980px;
width:300px;
left:50px;
font-size: 20px;


}
#description11{


padding-top: 2030px;
width:250px;
left:60px;
font-size: 15px;

}
#image10{

position: absolute;
margin-top: 2400px;
width:600px;
height:600px;
left: 10px;

}
#subheading13{
padding-top: 2480px;
width:500px;
left:750px;
font-size: 40px;


}
#description12{


padding-top: 2630px;
width:400px;
left:760px;
font-size: 25px;

}
.footer{

position:fixed;
top: 4980px;
width:98.8%;
height: 500px;
background-color:#404042;


}