h1{

	text-align:center;
	font-size: 45px;


}
body{

	
}
p{

	width: 900px;
	text-align:center;
	padding-left: 200px; 
	padding-top:40px;
	font-size: 20px;
}
.weddingform{


border: 3px solid red;
width:1200px;
margin-left: 100px;


}
.heading{

	font-size:40px;
	padding-top:40px;
	padding-bottom: 40px; 
	color:blue;
}



#comments{


width: 400px;
font-size: 20px;

}

td{

	padding-top: 30px;
	padding-left: 60px;
	font-size: 25px;
	padding-right: 10px;
	width:600px;
}
.ainfo{

	width:400px;
	height:150px;
}
.text{

	width:400px;
	height:40px;
}
.text2{

	font-size: 20px;
}
.subheading1{

	font-size: 20px;
}
