

.image1{
width:100%;

}
.header{

   position: absolute;
	
	width: 500px;
	height: 250px;
	top:300px;
	left:60px;


}
#heading1{

  
  width:200px;
  color: #ffffff;
  font-size: 40px;

}
#description1{

  position:absolute;
  
  width:300px;
  color:#ffffff;
  text-align: left;
  font-size: 20px;

}

.underwater{

margin-top: 20px;


}


#image2{

padding-top: 50px;
padding-left: 100px;
width:700px;
height:400px;


}

#heading2{

  width:1000px;
  padding-left:150px;
  text-align: center;
  padding-top: 50px;
  font-size: 40px;

}
#description2{

  position: absolute;
	width: 280px;
  top:900px;
  left:830;
  height: 400px;
  font-size: 17px;
	

}
#description3{

padding-top: 50px;
padding-left: 250px;
text-align: left;
width:590px;
height: 400px;
  font-size: 17px;

}
.list1{

position:absolute;
 padding-left: 320px;
top:1415px;
 font-size:18px;


}
#description4{

position:absolute;
padding-left: 285px;
 top:1590px;
 font-size: 17px;
}
.list2{
position:absolute;
padding-left:320px;
top:1620px;
 font-size:18px;

}
#package{
padding-left: 330px;
 padding-top: 2px;
  font-size:18px;


}
.venues{

position: absolute;
top: 1830px;



}


#heading3{


padding-left:200px;
font-size: 40px;
width: 600px;


}
#image3{

  position: absolute;
  top:150px;
  width:350px;
  height: 300px;
  left: 10px;
  

}
#image4{

  position: absolute;
  top:150px;
  width:350px;
  height: 300px;
  left:330px;


}
#image5{

  position: absolute;
  top:150px;
  width:350px;
  height: 300px;
 left:660px;

}
#subheading1{

  position: absolute;
 padding-top:350px;
  left:10px; 
  width:200px;


}
#subheading2{


  position: absolute; 
  padding-top:350px; 
  width:350px;
  
  left:430px;

}
#subheading3{

  position: absolute;
  padding-top:350px;
  width:200px;
  left:880px;
  

}
#description5{

 position: absolute;
  padding-top:400px;
  left:30px; 
  width:250px;
  font-size: 16px;
  font-family:arial;


}
#description6{

 position: absolute; 
  padding-top:400px; 
  width:250px;
  padding-left:450px;
  font-size: 16px;
  font-family:arial;


}
#description7{

 position: absolute; 
  padding-top:400px; 
  width:300px;
  padding-left:840px;
  text-align: left;
  font-size: 16px;
  font-family:arial;

}
.outdoorwedding{

position: absolute;
padding-top: 10px;
margin-top:200px;
width: 700px;
height: 500px;
margin-top: 700px;
background-color:#b09c92;


}
#subheading4{
 
    position: absolute;
	top: 10px;
	left: 60px;
	width: 300px;
	font-size: 30px;
	text-align:left;
	color:#ffffff;



}
#description8{

  color: blue;
  padding-top: 150px;
  width: 350px;
  text-align:center;
  color:#ffffff; 
  font-size:20px; 
}
#image6{

position:absolute; 
padding-top: 770px;
padding-left: 150px;
width: 700px;
height: 500px;
padding-left: 450px;


}
#subheading9{

position: absolute;
margin-top: 1400px;
font-size: 40px;
right:700px;


}
#subheading10{
position: absolute;
margin-top: 2000px;
font-size: 20px;
width:250px; 
left:490px;


}
#description9{

position: absolute;
margin-top: 2050px;
width:300px;
left:505px;
font-size:15px;
font-family:arial;



}
#image7{

	position: absolute;
margin-top: 1525px;
width:400px;
height:400px;
left: 470px;

}
#image8{

border-radius:0.1px;
position: absolute;
margin-top: 1570px;
width:400px;
height:400px;
right: 20px;

}
#subheading11{

position: absolute;
margin-top: 2000px;
font-size: 20px;
width:300px;
left:940px;


}
#description10{

position: absolute;
margin-top: 2010px;
width:300px;
left:960px;
font-size: 15px;
font-family:arial;

}
#image9{

position: absolute;
margin-top: 1558px;
width:400px;
height:400px;
left: 10px;

}
#subheading12{
padding-top: 1980px;
width:300px;
left:50px;
font-size: 20px;


}
#description11{


padding-top: 30px;
width:250px;
left:60px;
font-size: 15px;
font-family:arial;


}


#image10{

position: absolute;
margin-top:120px;
width:600px;
height:500px;
left: 10px;

}
#subheading13{
padding-top: 80px;
width:500px;
left:750px;
font-size: 40px;


}
#description12{


padding-top: 30px;
width:500px;
padding-left:700px;
font-size: 25px;
font-family:arial;


}
.footer{



}
#roomview{

font-size: 20px;
padding-top:230px;
padding-left:800px;
font-weight:bold;
text-decoration:none;
color: #0d316b;

}
#roomview:hover{


  color:#6b0d13;
}